/* Write your code here. */
.bg-container {
  background-color: #9796f0;
  height: 100vh;
}

.emoji-game-container {
  width: 50vw;
  display: flex;
  padding: 20px;
  list-style-type: none;
  flex-wrap: wrap;
}

.emoji-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
