/* Write your code here. */

.result-container {
  background-color: #fbc7d4;
  border-radius: 20px;
  border-color: #ffffff33;
  padding: 25px;
  border-style: solid;
  display: flex;
  align-items: center;
  width: 50vw;
  justify-content: space-between;
}

.status-logo {
  height: 300px;
  background-size: cover;
  margin-left: 20px;
}

.heading {
  font-family: Roboto;
  font-size: 40px;
  color: #ffffff;
}

.play-again {
  background-color: #ffce27;
  border-width: 0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  padding: 20px;
  width: 120px;
}

.description {
  font-family: Roboto;
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
}

.score-result {
  color: #6a59ff;
  font-size: 30px;
  font-weight: 500;
}

.result {
  display: flex;
  justify-content: center;
}
